h1{
    text-align: center;
}

*{
    
}

.education{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin-left: 100px;
    width: 500px;
   
}


.general-information{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
    font-size:17px;
    
}

.gi{
    font-size: 27px;
}

.edu{
    font-size: 27px;
}

.work{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    margin-left: 100px;
    font-size:17px;
}

.woe{
    font-size: 27px;
}

.code{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    margin-left: 100px;
    font-size:17px;
}

.ex{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    margin-left: 100px;
    font-size:17px;
}
